extends layout

block vars
    - let title = '火星人科技'

block content
    section#page-title
        .container.clearfix
            h1 关于我们
            ol.breadcrumb
                a(href="javascript:;") 火星人
                |  > 
                a(href='about') 关于我们
                |  >

    section.about-us-intro
        .container-fluid
            .row
                .col-md-6.oh
                    img( src='/public/images/about_us_intro.jpg')

                .col-md-6
                    .about-intro
                        h2 火星人-建站资源共享学习平台
                        p.subheading.mt20
                            | www.22vd.com
                        p.mt20
                            | 火星人（www.22vd.com）专业提供网站模板，网页模板，网站源码，网站素材，网页特效等网页设计素材免费下载。我们致力于打造一个优秀的建站资源共享学习平台。火星人已经上路，我们将为此不懈努力，期待得到您的支持！
                            br
                            | 从零开始系统全面的教你如何建立一个属于自己的网站并实现盈利。课程涉及网站搭建，网站SEO，模板开发等最新建站技术
                        ul
                            li
                                i.icon.icon_box-checked
                                | 模板行业第一分享平台
                            li
                                i.icon.icon_box-checked
                                | 系统全面的建站视频教程
                            li
                                i.icon.icon_box-checked
                                | 7x24小时全方位技术支持

    section.section-wrap.our-team.bg-light
        .container
            h2.text-center 设计团队
            p.subheading.text-center 我们致为于打造优秀的建站资源共享平台
            .main-border.blue
            ul#team.clearfix
                li.team-member
                    .team-img
                        img( src='/public/images/team_member_1.jpg')
                    .team-details.text-center
                        h5.team-title moke
                        span 站长
                        .team-socials
                            a(href='javascript:;')
                                i.fa.fa-weixin
                            a(href='javascript:;')
                                i.fa.fa-qq
                            a(href='javascript:;')
                                i.fa.fa-weibo
                            a(href='javascript:;')
                                i.fa.fa-envelope

                li.team-member
                    .team-img
                        img( src='/public/images/team_member_2.jpg')
                    .team-details.text-center
                        h5.team-title Michael Doe
                        span 设计师
                        .team-socials
                            a(href='javascript:;')
                                i.fa.fa-weixin
                            a(href='javascript:;')
                                i.fa.fa-qq
                            a(href='javascript:;')
                                i.fa.fa-weibo
                            a(href='javascript:;')
                                i.fa.fa-envelope
 
                li.team-member
                    .team-img
                        img( src='/public/images/team_member_3.jpg')
                    .team-details.text-center
                        h5.team-title Jomelle Curtis
                        span 程序员
                        .team-socials
                            a(href='javascript:;')
                                i.fa.fa-weixin
                            a(href='javascript:;')
                                i.fa.fa-qq
                            a(href='javascript:;')
                                i.fa.fa-weibo
                            a(href='javascript:;')
                                i.fa.fa-envelope

                li.team-member
                    .team-img
                        img( src='/public/images/team_member_4.jpg')
                    .team-details.text-center
                        h5.team-title Alex Green
                        span SEOER
                        .team-socials
                            a(href='javascript:;')
                                i.fa.fa-weixin
                            a(href='javascript:;')
                                i.fa.fa-qq
                            a(href='javascript:;')
                                i.fa.fa-weibo
                            a(href='javascript:;')
                                i.fa.fa-envelope

    section.section-wrap.results-parallax
        .container
            h2.text-center.heading-white 网站数据
            p.subheading.text-center www.22vd.com
            .main-border.blue
            .row.mt30
                .col-sm-3.text-center
                    .statistic
                        span.timer(data-to='547', data-from='0') 547
                        h5.counter-text VIP会员

                .col-sm-3.text-center
                    .statistic
                        span.timer(data-to='1024', data-from='0') 1024
                        h5.counter-text 视频教程

                .col-sm-3.text-center
                    .statistic
                        span.timer(data-to='3589', data-from='0') 3589
                        h5.counter-text 网站模板

                .col-sm-3.text-center
                    .statistic
                        span.timer(data-to='999', data-from='0') 98
                        h5.counter-text 火星人学员

    section.section-wrap.core-features
        .container
            .row.mt-38
                .col-sm-4
                    .features-item
                        .features-icon
                            i.icon.icon-Tools
                        h5 网站模板
                        p 火星人专业提供网站模板，网页模板，模板教程，培训视频，网页制作，程序插件，网站素材等建站资源免费下载

                .col-sm-4
                    .features-item
                        .features-icon
                            i.icon.icon-Timer
                        h5 视频教程
                        p 火星人提供系统全面的视频教程，让你轻松学习建站。视频涉及网站建设基础教程，织梦视频教程，discuz视频教程

                .col-sm-4
                    .features-item
                        .features-icon
                            i.icon.icon-Notes
                        h5 在线培训
                        p 从零开始系统全面的教你如何建立一个属于自己的网站并实现盈利。课程涉及网站搭建，SEO，模板开发等建站技术

                .row
                    .col-sm-4
                        .features-item
                            .features-icon
                                i.icon.icon-Search
                            h5 Discuz模板
                            p 火星人提供dz模板，discuz 论坛模板，discuz! x2.5，discuz x3.0风格主题下载，是您寻找discuz模板的最佳选择

                    .col-sm-4
                        .features-item
                            .features-icon
                                i.icon.icon-Layers
                            h5 Dedecms模板
                            p 火星人提供dede模板，织梦模板，织梦小说模板，织梦企业模板，织梦下载站模板，是您寻找dedecms模板的最佳选择

                    .col-sm-4
                        .features-item
                            .features-icon
                                i.icon.icon-Drop
                            h5 Wordpress模板
                            p 火星人提供wordpress主题，wordpress中文主题，wordpress淘宝客主题。是您寻找wordpress主题的最佳选择

    section.section-wrap.testimonials-slider
        .container
            h2.heading-white.text-center 客户评价
            #owl-testimonials.owl-carousel.owl-theme
                .item
                    img.testimonials-img(src='/public/images/testimonials_img_1.jpg')
                    .testimonials-box.text-center
                        h5.testimonial-name 蓝新科技
                        span CEO of Company
                        p 在网上寻觅了很久很久。终于找到了这里。晃眼一看，好多漂亮的模板。下载了几个都很好用。希望越做越好，多提供些精品资源！

                .item
                    img.testimonials-img(src='/public/images/testimonials_img_2.jpg')
                    .testimonials-box.text-center
                        h5.testimonial-name 红色海水
                        span CEO of Company
                        p 找了好久啊，一直想有一个这样的网站，找来找去，老感觉么有合适的。偶然间来到这儿，爽。找到啦！支持火星人！

                .item
                    img.testimonials-img(src='/public/images/testimonials_img_3.jpg')
                    .testimonials-box.text-center
                        h5.testimonial-name _旅行
                        span CEO of Company
                        p 火星人对于网站建设新手来说，是一个最好的平台，你可以随心找到你最喜欢的网站模板，做出你喜欢的网站。

                .item
                    img.testimonials-img(src='/public/images/testimonials_img_4.jpg')
                    .testimonials-box.text-center
                        h5.testimonial-name 游水的鱼
                        span CEO of Company
                        p 找模板找了很久了，于是找到了火星人，觉的这里的模板很不错，下载了两套试试，果然可以用。于是充值了，希望站长以后多多指点啊！

                .item
                    img.testimonials-img(src='/public/images/testimonials_img_5.jpg')
                    .testimonials-box.text-center
                        h5.testimonial-name sun520mm
                        span CEO of Company
                        p 火星人站长很友好，为我们这些新手站长提供这么多的模版。大家一起交流，才能成长得更快吧！感谢火星人，感谢网友，你们辛苦了！

    section.partners-light
        .container
            .row
                .col-md-2.col-sm-4.col-xs-6
                    a(href='javascript:;')
                        img( src='/public/images/partner_logo_dark_1.png')

                .col-md-2.col-sm-4.col-xs-6
                    a(href='javascript:;')
                        img( src='/public/images/partner_logo_dark_2.png')

                .col-md-2.col-sm-4.col-xs-6
                    a(href='javascript:;')
                        img( src='/public/images/partner_logo_dark_3.png')

                .col-md-2.col-sm-4.col-xs-6
                    a(href='javascript:;')
                        img( src='/public/images/partner_logo_dark_4.png')

                .col-md-2.col-sm-4.col-xs-6
                    a(href='javascript:;')
                        img( src='/public/images/partner_logo_dark_5.png')

                .col-md-2.col-sm-4.col-xs-6
                    a(href='javascript:;')
                        img( src='/public/images/partner_logo_dark_6.png')

    section.call-to-action.parallax
        .container
            h3.cta-subheading.text-center We’ve Used Best Ux Practices
            h2.text-center.mt30 建站资源共享学习平台
            .col-lg-12.text-center.mt40
                a#cta-button-blue-solid.btn.btn-large.btn-rounded.btn-light-solid(href="javascript:;") 官方网站


block script
    script.
