extends layout

block vars
    - let title = '火星人科技'

block content

    section#page-title
        .container.clearfix
            h1 产品展示
            ol.breadcrumb
                a(href="javascript:;") 火星人
                |  > 
                a(href='/') 产品展示
                |  >

    section.section-wrap.bg-light
        .container
            .row
                #portfolio-container.grid-3-col(style='position: relative; height: 836.934px;')
                    .col-md-4.work-item.web-design.mockups

                        .work-container
                            .work-img
                                a(href='product_show')
                                    img(src='/public/images/homepage/1-1503201432160-L.jpg')
                                .portfolio-overlay
                                    .project-icons
                                        a(data-lightbox='true', href='/public/images/homepage/1-1503201432160-L.jpg')
                                            i.fa.fa-search
                                        a.project-icon(href='product_show')
                                            i.fa.fa-link
                            .work-description.text-center
                                h3
                                    a(href='product_show') UX与UI不是对立而是共生
                                span
                                    a(href='product_show') 对于网站来说，公司设计团队完善UI的目的通常是

                    .col-md-4.work-item.web-design.mockups

                        .work-container
                            .work-img
                                a(href='product_show')
                                    img(src='/public/images/homepage/1-1503201433250-L.jpeg')
                                .portfolio-overlay
                                    .project-icons
                                        a(data-lightbox='true', href='/public/images/homepage/1-1503201433250-L.jpeg')
                                            i.fa.fa-search
                                        a.project-icon(href='product_show')
                                            i.fa.fa-link
                            .work-description.text-center
                                h3
                                    a(href='product_show')
                                        | 好想立刻跳进蔚蓝里
                                        | 全世界最大游泳池
                                span
                                    a(href='product_show') 查看原图智利首都圣地亚哥西的圣阿方索度假村花

                    .col-md-4.work-item.web-design.mockups

                        .work-container
                            .work-img
                                a(href='product_show')
                                    img(src='/public/images/homepage/1-1503202053470-L.jpg')
                                .portfolio-overlay
                                    .project-icons
                                        a(data-lightbox='true', href='/public/images/homepage/1-1503202053470-L.jpg')
                                            i.fa.fa-search
                                        a.project-icon(href='product_show')
                                            i.fa.fa-link
                            .work-description.text-center
                                h3
                                    a(href='product_show') 从摄影的角度看设计
                                span
                                    a(href='product_show') 一幅好照片要把观众的注意力吸引到趣味中心mdas

                    .col-md-4.work-item.web-design.mockups

                        .work-container
                            .work-img
                                a(href='product_show')
                                    img(src='/public/images/homepage/1-1503202054230-L.png')
                                .portfolio-overlay
                                    .project-icons
                                        a(data-lightbox='true', href='/public/images/homepage/1-1503202054230-L.png')
                                            i.fa.fa-search
                                        a.project-icon(href='product_show')
                                            i.fa.fa-link
                            .work-description.text-center
                                h3
                                    a(href='product_show') 细数那些精彩纷呈的引导页
                                span
                                    a(href='product_show')
                                        | 随着苹果ios8的发布，可以看到App
                                        | store货架上

                    .col-md-4.work-item.web-design.mockups

                        .work-container
                            .work-img
                                a(href='product_show')
                                    img(src='/public/images/homepage/1-1503202055010-L.jpg')
                                .portfolio-overlay
                                    .project-icons
                                        a(data-lightbox='true', href='/public/images/homepage/1-1503202055010-L.jpg')
                                            i.fa.fa-search
                                        a.project-icon(href='product_show')
                                            i.fa.fa-link
                            .work-description.text-center
                                h3
                                    a(href='product_show') 在网页设计中运用柔和色调
                                span
                                    a(href='product_show') 网页中的柔和色调的使用，不止是近来的趋势，这

                    .col-md-4.work-item.web-design.mockups

                        .work-container
                            .work-img
                                a(href='product_show')
                                    img(src='/public/images/homepage/1-1503202055330-L.jpg')
                                .portfolio-overlay
                                    .project-icons
                                        a(data-lightbox='true', href='/public/images/homepage/1-1503202055330-L.jpg')
                                            i.fa.fa-search
                                        a.project-icon(href='product_show')
                                            i.fa.fa-link
                            .work-description.text-center
                                h3
                                    a(href='product_show') 响应式Web设计的9项基本原则
                                span
                                    a(href='product_show') 想象一下走进一个狭小拥挤，遍地垃圾的商店。店

                    .col-md-4.work-item.web-design.mockups

                        .work-container
                            .work-img
                                a(href='product_show')
                                    img(src='/public/images/homepage/1-1503202056270-L.png')
                                .portfolio-overlay
                                    .project-icons
                                        a(data-lightbox='true', href='/public/images/homepage/1-1503202056270-L.png')
                                            i.fa.fa-search
                                        a.project-icon(href='product_show')
                                            i.fa.fa-link
                            .work-description.text-center
                                h3
                                    a(href='product_show') 响应式Web设计的9项基本原则
                                span
                                    a(href='product_show') 响应式web设计对于解决多类型屏幕问题来说是个

                    .col-md-4.work-item.web-design.mockups
                        // work item
                        .work-container
                            .work-img
                                a(href='product_show')
                                    img(src='/public/images/homepage/1-150320205A80-L.png')
                                .portfolio-overlay
                                    .project-icons
                                        a(data-lightbox='true', href='/public/images/homepage/1-150320205A80-L.png')
                                            i.fa.fa-search
                                        a.project-icon(href='product_show')
                                            i.fa.fa-link
                            .work-description.text-center
                                h3
                                    a(href='product_show') 如何进行可用性启发式评估
                                span
                                    a(href='product_show')
                                        | 用
                                        | 户体验只有在渗透入从创意到开发测试等产品

                    .col-md-4.work-item.web-design.mockups
                        // work item
                        .work-container
                            .work-img
                                a(href='product_show')
                                    img(src='/public/images/homepage/1-150320205I40-L.png')
                                .portfolio-overlay
                                    .project-icons
                                        a(data-lightbox='true', href='/public/images/homepage/1-150320205I40-L.png')
                                            i.fa.fa-search
                                        a.project-icon(href='product_show')
                                            i.fa.fa-link
                            .work-description.text-center
                                h3
                                    a(href='product_show') 原生App切图的那些事儿
                                span
                                    a(href='product_show') 最小的分辨率是320x480，我们把这个尺寸定为基

                .row.mt20
                    .dede_pages(style='margin-top:40px;')
                        ul.pagelist
                            li 首页
                            li.thisclass 1
                            li
                                a(href='javascript:;') 2
                            li
                                a(href='javascript:;') 下一页
                            li
                                a(href='javascript:;') 末页
                            li
                                span.pageinfo
                                    | 共 
                                    strong 2
                                    | 页
                                    strong 13
                                    | 条

    section.call-to-action.style-2
        .container
            .row
                .col-sm-8
                    h2 我们致力于打造一个优秀的建站资源共享学习平台

                .col-sm-4
                    a#cta-button-solid.btn.btn-large.btn-rounded.btn-light-solid(href="javascript:;") 进入官网


block script
    script.
