footer#footer
    .container
        .footer-widgets
            .row
                .col-md-3
                    .footer-about-us
                        h5.heading-white 关于我们
                        p
                            | "火星人"——人是互联，社交的最基本元素，作为一家以人为本的互联网企业，团队是公司的核心竞争力，我们始终坚持用最前沿的技术助力企业转型互联网+，实现全球化，数据化和智能化
                        .social-icons
                            a(href='javascript:;')
                                i.fa.fa-weixin
                            a(href='javascript:;')
                                i.fa.fa-weibo
                            a(href='javascript:;')
                                i.fa.fa-qq
                            a(href='javascript:;')
                                i.fa.fa-linkedin
                            a(href='javascript:;')
                                i.fa.fa-pinterest-p
                            a(href='javascript:;')
                                i.fa.fa-instagram

                .col-md-3
                    h5.heading-white 上班时间
                    .office-1
                        p 每周一至周五
                        p 早上 9:00 - 下午 18:00
                    .office-2
                        p 联系我们
                        p 电话: 0771-3216270
                        p
                            | 邮箱:dc@mars-it.net.
                            a(href='mailto:dc@mars-it.net.') 
                        p 地址:广西南宁市西乡塘区科园大道科园东5路南宁软件园一楼火星人科技
                .col-md-3
                    h5.heading-white 企业动态
                    .footer-posts
                        .footer-entry
                            h6
                                a(href='news') 火星人建站资源共享学习平台
                            span 2018-03-07/ admin

                        .footer-entry
                            h6
                                a(href='news') 火星人-建站资源共享学习平台
                            span 2018-03-07/ admin

                        .footer-entry
                            h6
                                a(href='news') 2018年的网站设计重心会更倾向
                            span 2018-01-22/ admin

                .col-md-3
                    h5.heading-white 最新产品
                    ul.recent-works
                        li
                            a(href='product_show')
                                img(src='/public/images/footer/1-1503201432160-L.jpg' width='85', height='85')
                        li
                            a(href='product_show')
                                img(src='/public/images/footer/1-1503201433250-L.jpeg' width='85', height='85')
                        li
                            a(href='product_show')
                                img(src='/public/images/footer/1-1503202053470-L.jpg' width='85', height='85')
                        li
                            a(href='product_show')
                                img(src='/public/images/footer/1-1503202054230-L.png' width='85', height='85')
                        li
                            a(href='product_show')
                                img(src='/public/images/footer/1-1503202055010-L.jpg' width='85', height='85')
                        li
                            a(href='product_show')
                                img(src='/public/images/footer/1-1503202055330-L.jpg' width='85', height='85')

.bottom-footer
    .container
        .row
            .col-xs-12.text-center
                .copyright
                    | Copyright © 2018
                    a(style='color: rgb(16, 183, 47);', href="javascript:;") 火星人
                    |  版权所有
