#preloader
    #status ?
header
    nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
        nav.navigation
            .container
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    .logo
                        a(href='/')
                            img.small-logo(src='/public/images/head/logo.png')
                #navbar-collapse.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li.dropdown
                            a.dropdown-toggle(style='color: rgb(8, 167, 44);', href="javascript:;" data-hover='dropdown') 购买模板
                        li.dropdown
                            a.dropdown-toggle(href='/') 网站首页
                        li.dropdown
                            a.dropdown-toggle(href='product' data-hover='dropdown') 产品展示
                            ul.dropdown-menu.sub-menu
                                li
                                    a(href='product') 网站设计
                                li
                                    a(href='product') 手机设计
                                li
                                    a(href='news_show') 平面设计
                        li.dropdown
                            a.dropdown-toggle(href='news' data-hover='dropdown') 新闻中心
                            ul.dropdown-menu.sub-menu
                                li
                                    a(href='news_show') 公司新闻
                                li
                                    a(href='news_show') 行业新闻
                                li
                                    a(href='news_show') 最新动态
                        li.dropdown
                            a.dropdown-toggle(href='about' data-hover='dropdown') 关于我们
                        li.dropdown
                            a.dropdown-toggle(href='contact' data-hover='dropdown') 联系我们
                        li.dropdown
                            a.dropdown-toggle(href='service' data-hover='dropdown') 服务中心
.main-wrapper






