section.featured-works
    .container-fluid.clearfix
        .row
            h2.bg-dark.mb0.heading-white.text-center 产品展示
            #owl-featured-works.owl-carousel.owl-theme
                style.
                    .owl-buttons{ display:none}
                .item
                    a(href='a/kefuanli/wangzhansheji/2015/0320/1.html')
                        img(src='/public/images/homepage/1-1503201432160-L.jpg' height='260')
                    .portfolio-overlay
                        .project-icons
                            a(href='/public/images/homepage/1-1503201432160-L.jpg' data-lightbox='true')
                                i.fa.fa-search
                            a.project-icon(href='a/kefuanli/wangzhansheji/2015/0320/1.html')
                                i.fa.fa-link
                        .featured-item-description
                            h3
                                a(href='a/kefuanli/wangzhansheji/2015/0320/1.html') UX与UI不是对立而是共生
                            span
                                a(href='a/kefuanli/wangzhansheji/index.htm') 网站设计

                .item
                    a(href='a/kefuanli/wangzhansheji/2015/0320/2.html')
                        img(src='/public/images/homepage/1-1503201433250-L.jpeg'  height='260')
                    .portfolio-overlay
                        .project-icons
                            a(href='/public/images/homepage/1-1503201433250-L.jpeg' data-lightbox='true')
                                i.fa.fa-search
                            a.project-icon(href='a/kefuanli/wangzhansheji/2015/0320/2.html')
                                i.fa.fa-link
                        .featured-item-description
                            h3
                                a(href='a/kefuanli/wangzhansheji/2015/0320/2.html') 好想立刻跳进蔚蓝里 全世界最大游泳池
                            span
                                a(href='a/kefuanli/wangzhansheji/index.htm') 网站设计

                .item
                    a(href='a/kefuanli/wangzhansheji/2015/0320/16.html')
                        img(src='/public/images/homepage/1-1503202053470-L.jpg'  height='260')
                    .portfolio-overlay
                        .project-icons
                            a(href='/public/images/homepage/1-1503202053470-L.jpg' data-lightbox='true')
                                i.fa.fa-search
                            a.project-icon(href='a/kefuanli/wangzhansheji/2015/0320/16.html')
                                i.fa.fa-link
                        .featured-item-description
                            h3
                                a(href='a/kefuanli/wangzhansheji/2015/0320/16.html') 从摄影的角度看设计
                            span
                                a(href='a/kefuanli/wangzhansheji/index.htm') 网站设计

                .item
                    a(href='a/kefuanli/wangzhansheji/2015/0320/17.html')
                        img(src='/public/images/homepage/1-1503202054230-L.png'  height='260')
                    .portfolio-overlay
                        .project-icons
                            a(href='/public/images/homepage/1-1503202054230-L.png' data-lightbox='true')
                                i.fa.fa-search
                            a.project-icon(href='a/kefuanli/wangzhansheji/2015/0320/17.html')
                                i.fa.fa-link
                        .featured-item-description
                            h3
                                a(href='a/kefuanli/wangzhansheji/2015/0320/17.html') 细数那些精彩纷呈的引导页
                            span
                                a(href='a/kefuanli/wangzhansheji/index.htm') 网站设计

                .item
                    a(href='a/kefuanli/wangzhansheji/2015/0320/18.html')
                        img(src='/public/images/homepage/1-1503202055010-L.jpg'  height='260')
                    .portfolio-overlay
                        .project-icons
                            a(href='/public/images/homepage/1-1503202055010-L.jpg' data-lightbox='true')
                                i.fa.fa-search
                            a.project-icon(href='a/kefuanli/wangzhansheji/2015/0320/18.html')
                                i.fa.fa-link
                        .featured-item-description
                            h3
                                a(href='a/kefuanli/wangzhansheji/2015/0320/18.html') 在网页设计中运用柔和色调
                            span
                                a(href='a/kefuanli/wangzhansheji/index.htm') 网站设计

                .item
                    a(href='a/kefuanli/pingmiansheji/2015/0320/19.html')
                        img(src='/public/images/homepage/1-1503202055330-L.jpg' height='260')
                    .portfolio-overlay
                        .project-icons
                            a(href='/public/images/homepage/1-1503202055330-L.jpg' data-lightbox='true')
                                i.fa.fa-search
                            a.project-icon(href='a/kefuanli/pingmiansheji/2015/0320/19.html')
                                i.fa.fa-link
                        .featured-item-description
                            h3
                                a(href='a/kefuanli/pingmiansheji/2015/0320/19.html') 响应式Web设计的9项基本原则
                            span
                                a(href='a/kefuanli/pingmiansheji/index.htm') 平面设计

                .item
                    a(href='a/kefuanli/wangzhansheji/2015/0320/20.html')
                        img(src='/public/images/homepage/1-1503202056270-L.png' height='260')
                    .portfolio-overlay
                        .project-icons
                            a(href='/public/images/homepage/1-1503202056270-L.png' data-lightbox='true')
                                i.fa.fa-search
                            a.project-icon(href='a/kefuanli/wangzhansheji/2015/0320/20.html')
                                i.fa.fa-link
                        .featured-item-description
                            h3
                                a(href='a/kefuanli/wangzhansheji/2015/0320/20.html') 响应式Web设计的9项基本原则
                            span
                                a(href='a/kefuanli/wangzhansheji/index.htm') 网站设计

                .item
                    a(href='a/kefuanli/pingmiansheji/2015/0320/21.html')
                        img(src='/public/images/homepage/1-150320205A80-L.png' height='260')
                    .portfolio-overlay
                        .project-icons
                            a(href='/public/images/homepage/1-150320205A80-L.png' data-lightbox='true')
                                i.fa.fa-search
                            a.project-icon(href='a/kefuanli/pingmiansheji/2015/0320/21.html')
                                i.fa.fa-link
                        .featured-item-description
                            h3
                                a(href='a/kefuanli/pingmiansheji/2015/0320/21.html') 如何进行可用性启发式评估
                            span
                                a(href='a/kefuanli/pingmiansheji/index.htm') 平面设计

                .item
                    a(href='a/kefuanli/shoujiyingyong/2015/0320/22.html')
                        img(src='/public/images/homepage/1-150320205I40-L.png' height='260')
                    .portfolio-overlay
                        .project-icons
                            a(href='/public/images/homepage/1-150320205I40-L.png' data-lightbox='true')
                                i.fa.fa-search
                            a.project-icon(href='a/kefuanli/shoujiyingyong/2015/0320/22.html')
                                i.fa.fa-link
                        .featured-item-description
                            h3
                                a(href='a/kefuanli/shoujiyingyong/2015/0320/22.html') 原生App切图的那些事儿
                            span
                                a(href='a/kefuanli/shoujiyingyong/index.htm') 手机应用

                .item
                    a(href='a/kefuanli/wangzhansheji/2015/0320/23.html')
                        img(src='/public/images/homepage/1-150320205P80-L.jpeg' height='260')
                    .portfolio-overlay
                        .project-icons
                            a(href='/public/images/homepage/1-150320205P80-L.jpeg' data-lightbox='true')
                                i.fa.fa-search
                            a.project-icon(href='a/kefuanli/wangzhansheji/2015/0320/23.html')
                                i.fa.fa-link
                        .featured-item-description
                            h3
                                a(href='a/kefuanli/wangzhansheji/2015/0320/23.html') 导航设计模式的重要意义
                            span
                                a(href='a/kefuanli/wangzhansheji/index.htm') 网站设计
