
section.promo-boxes
    .container-fluid
        .row
            .col-md-4.nopadding
                .promo-box-first
                    h2.heading-white 网站模板
                    p.white
                        | 创客云专业提供网站模板，网页模板，教程培训，程序插件，网站素材等建站资源。我们致力于打造一个优秀的建站资源共享学习平台！
                    a.btn.btn-large.btn-rounded.btn-light-transparent(href='#') 下载模板
                    i.icon.icon-Bulb

            .col-md-4.nopadding
                .promo-box-second
                    i.icon.icon-FullScreen
                    h2.heading-white 视频教程
                    p.white
                        | 从零开始系统全面的教你如何建立一个属于自己的网站并实现盈利。课程涉及网站搭建，网站SEO，模板开发等最新建站技术
                    a.btn.btn-large.btn-rounded.btn-light-transparent(href='#') 观看视频

            .col-md-4.nopadding
                .promo-box-third
                    i.icon.icon-ChemicalGlass
                    h2.heading-white 在线培训
                    p.white
                        | 创客云老师通过QQ群远程教学，全面系统的给大家讲解建站知识。内容涉及网站搭建，网站优化，模板开发等最新建站技术。
                    a.btn.btn-large.btn-rounded.btn-light-transparent(href='#') 报名培训
