
section.section-wrap.about-us-skills
    .container
        .row
            .col-sm-5
                h3.heading-white 我们的特长
                p 创客云（www.22vd.com）专业提供网站模板，网页模板，网站源码，网站素材，网页特效等网页设计素材免费下载。我们致力于打造一个优秀的建站资源共享学习平台。
                br
                p
                    | 从零开始系统全面的教你如何建立一个属于自己的网站并实现盈利。创客云老师通过QQ群远程教学，全面系统的给大家讲解建站知识。内容涉及网站搭建，网站优化，模板开发等最新建站技术。自己搭建一个网站并开发一套模板，碰到不理解或不会的，可以咨询我们在线QQ辅导员，我们每天8小时在线提供顾问式指导。
            .col-sm-7
                .skills-progress.dark
                    h6
                        | 模板开发 
                        span 85%
                    .progress-dark.meter.orange
                        .progress-bar(aria-valuemax='100', aria-valuemin='0', aria-valuenow='85', role='progressbar')
                            span.sr-only 85% Complete
                    h6
                        | SEO优化 
                        span 65%
                    .progress-dark.meter.yellow
                        .progress-bar(aria-valuemax='100', aria-valuemin='0', aria-valuenow='65', role='progressbar')
                            span.sr-only 65% Complete
                    h6
                        | 界面设计 
                        span 93%
                    .progress-dark.meter.violet
                        .progress-bar(aria-valuemax='100', aria-valuemin='0', aria-valuenow='93', role='progressbar')
                            span.sr-only 93% Complete
                    h6
                        | 程序开发 
                        span 90%
                    #animated-skills.progress-dark.meter.blue
                        .progress-bar(aria-valuemax='100', aria-valuemin='0', aria-valuenow='90', role='progressbar')
                            span.sr-only 90% Complete

