section.call-to-action
    .container
        h3.cta-subheading.text-center www.22vd.com
        h2.text-center.mt30 建站资源共享学习平台
        .col-lg-12.text-center.mt40
            a#cta-button-solid.btn.btn-large.btn-rounded.btn-light-solid(href='#') 网站模板
            a#cta-button-stroke.btn.btn-large.btn-rounded.btn-light-transparent(href='#') 视频教程

