section.core-features.style-1
    .container
        h2.text-center 服务中心
        p.subheading.text-center 我们致为于打造优秀的建站资源共享平台
        .main-border.blue
        .features-promo.mt70
            .row

                .col-lg-3.col-md-4.col-sm-6
                    .features-item.features-right.text-right
                        .features-icon
                            i.icon.icon-Search
                        h5 织梦模板
                        p 创客云专业提供网站模板，网页模板，模板教程，网页制作等建站资源

                    .features-item.features-right.text-right
                        .features-icon
                            i.icon.icon-Layers
                        h5 Discuz模板
                        p 创客云提供dz模板，discuz 论坛模板，discuz! x2.5，discuz x3.0主题下载

                    .features-item.features-right.text-right
                        .features-icon
                            i.icon.icon-Drop
                        h5 Wordpress主题
                        p 创客云提供wordpress企业主题，wordpress中文主题，wordpress cms主题

                .promo-img.col-lg-6.col-md-4.hidden-sm.hidden-xs.text-center
                    img(src='/public/images/core_features_img.png')

                .col-lg-3.col-md-4.col-sm-6
                    .features-item
                        .features-icon
                            i.icon.icon-Tools
                        h5 视频教程
                        p 创客云提供系统全面的视频教程，让你轻松学习网站建站搭建自己的网站

                    .features-item
                        .features-icon
                            i.icon.icon-Timer
                        h5 在线培训
                        p 从零开始系统全面的教你如何建立一个属于自己的网站并实现盈利

                    .features-item
                        .features-icon
                            i.icon.icon-Notes
                        h5 技术支持
                        p 我们每天8小时在线提供顾问式指导，可以咨询我们在线QQ辅导员

