// Partners
section.partners-dark
    .container
        .row
            .col-md-2.col-sm-4.col-xs-6
                a(href='#')
                    img(src='/public/images/partner_logo_1.png')
            // end first logo
            .col-md-2.col-sm-4.col-xs-6
                a(href='#')
                    img(src='/public/images/partner_logo_2.png')
            // end second logo
            .col-md-2.col-sm-4.col-xs-6
                a(href='#')
                    img(src='/public/images/partner_logo_3.png')
            // end third logo
            .col-md-2.col-sm-4.col-xs-6
                a(href='#')
                    img(src='/public/images/partner_logo_4.png')
            // end fourth logo
            .col-md-2.col-sm-4.col-xs-6
                a(href='#')
                    img(src='/public/images/partner_logo_5.png')
            // end fifth logo
            .col-md-2.col-sm-4.col-xs-6
                a(href='#')
                    img(src='/public/images/partner_logo_6.png')
