
section.section-wrap.our-team.bg-light
    .container
        h2.text-center 设计团队
        p.subheading.text-center 我们致为于打造优秀的建站资源共享平台
        .main-border.blue
        ul#team.clearfix
            li.team-member
                .team-img
                    img(src='/public/images/team_member_1.jpg')
                .team-details.text-center
                    h5.team-title moke
                    span 站长
                    .team-socials
                        a(href='#')
                            i.fa.fa-weixin
                        a(href='#')
                            i.fa.fa-qq
                        a(href='#')
                            i.fa.fa-weibo
                        a(href='#')
                            i.fa.fa-envelope

            li.team-member
                .team-img
                    img(src='/public/images/team_member_2.jpg')
                .team-details.text-center
                    h5.team-title Michael Doe
                    span 设计师
                    .team-socials
                        a(href='#')
                            i.fa.fa-weixin
                        a(href='#')
                            i.fa.fa-qq
                        a(href='#')
                            i.fa.fa-weibo
                        a(href='#')
                            i.fa.fa-envelope

            li.team-member
                .team-img
                    img(src='/public/images/team_member_3.jpg')
                .team-details.text-center
                    h5.team-title Jomelle Curtis
                    span 程序员
                    .team-socials
                        a(href='#')
                            i.fa.fa-weixin
                        a(href='#')
                            i.fa.fa-qq
                        a(href='#')
                            i.fa.fa-weibo
                        a(href='#')
                            i.fa.fa-envelope

            li.team-member
                .team-img
                    img(src='/public/images/team_member_4.jpg')
                .team-details.text-center
                    h5.team-title Alex Green
                    span SEOER
                    .team-socials
                        a(href='#')
                            i.fa.fa-weixin
                        a(href='#')
                            i.fa.fa-qq
                        a(href='#')
                            i.fa.fa-weibo
                        a(href='#')
                            i.fa.fa-envelope

