
section.section-wrap.services
    .container
        .row
            .col-sm-4
                .service-item.icon-effect-1.icon-blue.icon-effect-1a
                    a(href='#')
                        i.hi-icon.icon.icon-Pen
                    h5.text-center 网站模板
                    .main-border.blue
                    p.text-center 创客云专业提供网站模板，网页模板，模板教程，培训视频，网页制作，程序插件，网站素材等建站资源免费下载

            .col-sm-4
                .service-item.icon-effect-1.icon-violet.icon-effect-1a
                    a(href='#')
                        i.hi-icon.icon.icon-FullScreen
                    h5.text-center 视频教程
                    .main-border.violet
                    p.text-center 创客云提供系统全面的视频教程，让你轻松学习建站。视频涉及网站建设基础教程，织梦视频教程，discuz视频教程。

            .col-sm-4
                .service-item.icon-effect-1.icon-orange.icon-effect-1a.last
                    a(href='#')
                        i.hi-icon.icon.icon-Settings
                    h5.text-center 在线培训
                    .main-border.orange
                    p.text-center 从零开始系统全面的教你如何建立一个属于自己的网站并实现盈利。课程涉及网站搭建，网站SEO，模板开发等最新建站技术

