
section.results
    .container
        .row
            .col-sm-3.text-center
                .statistic
                    span.timer(data-from='0', data-to='547')
                    h5.counter-text VIP会员

            .col-sm-3.text-center
                .statistic
                    span.timer(data-from='0', data-to='1024')
                    h5.counter-text 视频教程

            .col-sm-3.text-center
                .statistic
                    span.timer(data-from='0', data-to='3589')
                    h5.counter-text 网站模板

            .col-sm-3.text-center
                .statistic
                    span.timer(data-from='0', data-to='98')
                    h5.counter-text 创客云学员
