// Testimonials
section.section-wrap.testimonials-slider
    .container
        h2.heading-white.text-center 客户评价
        #owl-testimonials.owl-carousel.owl-theme
            .item
                img.testimonials-img(src='/public/images/testimonials_img_1.jpg')
                .testimonials-box.text-center
                    h5.testimonial-name 蓝新科技
                    span CEO of Company
                    p 在网上寻觅了很久很久。终于找到了这里。晃眼一看，好多漂亮的模板。下载了几个都很好用。希望越做越好，多提供些精品资源！
            // end first testimonial
            .item
                img.testimonials-img(src='/public/images/testimonials_img_2.jpg')
                .testimonials-box.text-center
                    h5.testimonial-name 红色海水
                    span CEO of Company
                    p 找了好久啊，一直想有一个这样的网站，找来找去，老感觉么有合适的。偶然间来到这儿，爽。找到啦！支持创客云！
            // end second testimonial
            .item
                img.testimonials-img(src='/public/images/testimonials_img_3.jpg')
                .testimonials-box.text-center
                    h5.testimonial-name _旅行
                    span CEO of Company
                    p 创客云对于网站建设新手来说，是一个最好的平台，你可以随心找到你最喜欢的网站模板，做出你喜欢的网站。
            // end third testimonial
            .item
                img.testimonials-img(src='/public/images/testimonials_img_4.jpg')
                .testimonials-box.text-center
                    h5.testimonial-name 游水的鱼
                    span CEO of Company
                    p 找模板找了很久了，于是找到了创客云，觉的这里的模板很不错，下载了两套试试，果然可以用。于是充值了，希望站长以后多多指点啊！
            // end fourth testimonial
            .item
                img.testimonials-img(src='/public/images/testimonials_img_5.jpg')
                .testimonials-box.text-center
                    h5.testimonial-name sun520mm
                    span CEO of Company
                    p 创客云站长很友好，为我们这些新手站长提供这么多的模版。大家一起交流，才能成长得更快吧！感谢创客云，感谢网友，你们辛苦了！

