section
    .tp-banner-container.clearfix
        .tp-banner
            ul
                li(data-transition='slidehorizontal', data-slotamount='5', data-masterspeed='700')

                    img(src='/public/images/revolution/slide_1_bg.jpg' data-bgfit='cover', data-bgposition='center center', data-bgrepeat='no-repeat')

                    .tp-caption.very_big_white.skewfromrightshort.fadeout(data-x='center', data-y='center', data-speed='500', data-start='1200', data-easing='Circ.easeInOut')
                        | 高端专业的定制开发团队

                    .tp-caption.tp-caption.medium_text.skewfromrightshort.fadeout(data-x='center', data-y='center', data-hoffset='0', data-voffset='-73', data-speed='500', data-start='1200', data-easing='Power4.easeOut')
                        | Powere by Maker Cloud

                    .tp-caption.customin.tp-resizeme.rs-parallaxlevel-0(data-x='center', data-y='center', data-hoffset='0', data-voffset='98', data-customin='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='500', data-start='1500', data-easing='Power3.easeInOut', data-splitin='none', data-splitout='none', data-elementdelay='0.1', data-endelementdelay='0.1', data-linktoslide='next', style='z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;')
                        a.largebtn(href="javascript:;") 购买模板

                li(data-transition='slidehorizontal', data-slotamount='5', data-masterspeed='700')

                    img(src='/public/images/revolution/slide_2_bg.jpg' data-bgfit='cover', data-bgposition='center center', data-bgrepeat='no-repeat')

                    .tp-caption.white_heavy_60.customin.ltl.tp-resizeme(data-x='30', data-y='223', data-customin='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='1200', data-start='700', data-easing='Power4.easeOut', data-splitin='chars', data-splitout='none', data-elementdelay='0.1', data-endelementdelay='0.1', data-endspeed='1000', data-endeasing='Power4.easeIn', style='z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;')
                        | 创客云

                    .tp-caption.black_thin_blackbg_30.customin.ltl.tp-resizeme(data-x='30', data-y='306', data-customin='x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-speed='1500', data-start='1000', data-easing='Power4.easeInOut', data-splitin='none', data-splitout='none', data-elementdelay='0.01', data-endelementdelay='0.1', data-endspeed='1000', data-endeasing='Power4.easeIn', style='z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;')
                        | 创客云数字作品交易市场

                    .tp-caption.tp-caption.medium_text.customin.ltl.tp-resizeme(data-x='30', data-y='353', data-customin='x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-speed='1500', data-start='1300', data-easing='Power4.easeInOut', data-splitin='none', data-splitout='none', data-elementdelay='0.01', data-endelementdelay='0.1', data-endspeed='1000', data-endeasing='Power4.easeIn', style='z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;')
                        | 世界顶级主题/模版/数字作品交易市场

                    .tp-caption.lfb.ltb.start.tp-resizeme(data-x='30', data-y='407', data-customin='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='1500', data-start='1600', data-easing='Power3.easeInOut', data-splitin='none', data-splitout='none', data-elementdelay='0.01', data-endelementdelay='0.1', data-linktoslide='next', style='z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;')
                        a.largebtn.solid(href="javascript:;") 进入官网

                li(data-transition='slidehorizontal', data-slotamount='5', data-masterspeed='700')

                    img(src='/public/images/revolution/slide_3_bg.jpg' data-bgfit='cover', data-bgposition='center center', data-bgrepeat='no-repeat')

                    .tp-caption.big_100_white.lft.start.fadeout(data-x='center', data-y='246', data-speed='500', data-start='1200', data-easing='Circ.easeInOut')
                        | 建站培训班

                    .tp-caption.tp-caption.medium_text.lfb.fadeout(data-x='center', data-y='350', data-speed='500', data-start='1200', data-easing='Power4.easeOut')
                        | 从零开始系统全面的教你如何建立一个网站

                    .tp-caption.fade.fadeout.tp-resizeme(data-x='center', data-y='407', data-hoffset='-100', data-customin='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='1500', data-start='800', data-easing='Power3.easeInOut', data-splitin='none', data-splitout='none', data-elementdelay='0.01', data-endelementdelay='0.1', data-linktoslide='next', style='z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;')
                        a.largebtn.solid(href="javascript:;") 创客设计

                    .tp-caption.fade.fadeout.tp-resizeme(data-x='center', data-y='407', data-hoffset='100', data-customin='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='1500', data-start='800', data-easing='Power3.easeInOut', data-splitin='none', data-splitout='none', data-elementdelay='0.01', data-endelementdelay='0.1', data-linktoslide='next', style='z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;')
                        a.largebtn(href="javascript:;") 数字市场