// From Blog
section.section-wrap.from-blog
    .container
        h2.text-center 新闻中心
        p.subheading.text-center Latest News
        .main-border.blue
        .blog-articles.mt50
            .col-xs-12.text-center
                .entry-text
                    h3
                        a(href='javascript:;') 创客云-建站资源共享学习平台
                    span.blog-data 2016-03-07

                .entry-text.mt40
                    h3
                        a(href='javascript:;') 创客云-建站资源共享学习平台
                    span.blog-data 2016-03-07

                .entry-text.mt40
                    h3
                        a(href='javascript:;') 2015年的网站设计重心会更倾向于“用户体验”
                    span.blog-data 2016-01-22
